/* Rectangle 2 */


position: absolute;
width: 1367px;
height: 1284px;

background: #768CA1;
border-radius: 60px;


/* Group */


position: absolute;
width: 436.54px;
height: 888.59px;

box-shadow: inset 0px 0px 2.66666px rgba(0, 0, 0, 0.5);


/* Vector */


position: absolute;
width: 438.61px;
height: 890.65px;

border: 2.06462px solid #62726E;


/* Vector */


position: absolute;
width: 427.59px;
height: 878.94px;

background: linear-gradient(180deg, #5F5F5F 0%, #222222 1.01%, #252525 100%);


/* Group */


position: absolute;
width: 419.33px;
height: 869.3px;

box-shadow: 0px 1.33333px 4px rgba(0, 0, 0, 0.5), 0px -1.33333px 4px rgba(0, 0, 0, 0.5);


/* Vector */


position: absolute;
width: 405.56px;
height: 856.21px;

background: #000000;


/* Group */


position: absolute;
width: 417.95px;
height: 856.86px;

box-shadow: inset 4px 0px 5.66666px rgba(0, 0, 0, 0.6);


/* Vector */


position: absolute;
width: 6.89px;
height: 6.2px;

background: #000000;
opacity: 0.45;


/* Vector */


position: absolute;
width: 6.89px;
height: 6.2px;

background: #000000;
opacity: 0.45;


/* Vector */


position: absolute;
width: 6.89px;
height: 6.2px;

background: #000000;
opacity: 0.45;


/* Vector */


position: absolute;
width: 6.89px;
height: 6.2px;

background: #000000;
opacity: 0.45;


/* Vector */


position: absolute;
width: 6.2px;
height: 6.89px;

background: #000000;
opacity: 0.45;


/* Vector */


position: absolute;
width: 6.2px;
height: 6.89px;

background: #000000;
opacity: 0.45;


/* Group */


position: absolute;
width: 3.44px;
height: 62.72px;

box-shadow: inset 1.33333px 0px 4px rgba(255, 255, 255, 0.644843), inset 0px 2.66667px 1.33333px #626363, inset 0px -2.66667px 1.33333px #626363;


/* Group */


position: absolute;
width: 3.44px;
height: 62.72px;

box-shadow: inset 1.33333px 0px 4px rgba(255, 255, 255, 0.644843), inset 0px 2.66667px 1.33333px #626363, inset 0px -2.66667px 1.33333px #626363;


/* Group */


position: absolute;
width: 3.44px;
height: 34.03px;

box-shadow: inset 1.33333px 0px 4px rgba(255, 255, 255, 0.644843), inset 0px 2.66667px 1.33333px #626363, inset 0px -2.66667px 1.33333px #626363;


/* Group */


position: absolute;
width: 3.44px;
height: 101.76px;

box-shadow: inset 1.33333px 0px 4px rgba(255, 255, 255, 0.644843), inset 0px 2.66667px 1.33333px #626363, inset 0px -2.66667px 1.33333px #626363;


/* Vector */


position: absolute;
width: 12.39px;
height: 12.4px;

background: linear-gradient(0deg, #1F1F1F 0%, #0F0F0F 100%);


/* Group */


position: absolute;
width: 6.38px;
height: 6.09px;

box-shadow: inset 0px 2.33333px 2px rgba(0, 0, 0, 0.792969);


/* Vector */


position: absolute;
width: 5.73px;
height: 5.44px;

border: 0.653671px solid #000000;


/* Group */


position: absolute;
width: 5.22px;
height: 4.93px;

box-shadow: 0px 1.33333px 2.66666px rgba(0, 0, 0, 0.558707), inset 0px 2px 4.66666px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(41, 40, 136, 0.68266), inset 0px -0.666667px 1.33333px rgba(255, 255, 255, 0.28275), inset 0px 1.33333px 1.33333px rgba(3, 26, 184, 0.609621);


/* Vector */


position: absolute;
width: 2.32px;
height: 2.32px;

background: radial-gradient(50.33% 50.33% at 50% 36.92%, #694B8D 0%, rgba(0, 0, 0, 0.01) 100%);
opacity: 0.77;


/* Vector */


position: absolute;
width: 2.32px;
height: 2.32px;

background: radial-gradient(50.33% 50.33% at 50% 36.92%, #80C2C8 0%, rgba(0, 0, 0, 0.01) 100%);
opacity: 0.28;


/* Group */


position: absolute;
width: 2.32px;
height: 0.58px;

box-shadow: 0px 1.33333px 2.66666px rgba(0, 0, 0, 0.311736), inset 0px 0.666667px 1.33333px rgba(255, 255, 255, 0.5);


/* Group */


position: absolute;
width: 1.74px;
height: 0.58px;

opacity: 0.76;
box-shadow: 0px 1.33333px 2.66666px rgba(0, 0, 0, 0.311736), inset 0px 0px 1.33333px rgba(255, 255, 255, 0.5);


/* Group */


position: absolute;
width: 2.32px;
height: 2.03px;

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);


/* Group */


position: absolute;
width: 2.03px;
height: 2.03px;

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);


/* Group */


position: absolute;
width: 1.74px;
height: 1.74px;

box-shadow: inset 0px 2px 4.66666px rgba(0, 0, 0, 0.5), inset 0px 1.33333px 1.33333px rgba(45, 84, 81, 0.254642);


/* Group */


position: absolute;
width: 1.16px;
height: 0.58px;

opacity: 0.39;
filter: blur(3.55372px);


/* Group */


position: absolute;
width: 0.58px;
height: 0.29px;

opacity: 0.76;
box-shadow: 0px 1.33333px 2px rgba(0, 0, 0, 0.311736), inset 0px 0px 1.33333px rgba(255, 255, 255, 0.5);


/* Group */


position: absolute;
width: 0.87px;
height: 0.58px;

opacity: 0.98;
box-shadow: 0px 1.33333px 1.33333px rgba(0, 0, 0, 0.311736), inset 0px 0.666667px 1.33333px rgba(255, 255, 255, 0.5);


/* Group */


position: absolute;
width: 1.45px;
height: 1.16px;

opacity: 0.66;
filter: blur(8.23004px);


/* Vector */


position: absolute;
width: 3.77px;
height: 3.77px;

background: radial-gradient(50.34% 50.33% at 82.1% 100%, #FFFFFF 0%, rgba(0, 0, 0, 0.01) 100%);
opacity: 0.17;


/* Group */


position: absolute;
width: 54.43px;
height: 7.08px;

opacity: 0.8;


/* Vector */


position: absolute;
width: 387.37px;
height: 837.68px;

/* Tan */

background: #D3BDA6;


/* Group 1 */


position: absolute;
width: 360px;
height: 624px;



/* Confirm */


position: absolute;
width: 137px;
height: 42px;

font-family: SF Pro Rounded;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
text-align: right;

/* Gunmetal */

color: #2A2F3B;


/* Glyphs/Navigation or Toolbar/Check Round */


position: relative;
width: 50px;
height: 50px;
